.blog-item {
    border: 1px solid $mercury;
    float: left;
    display: block;
    width: 100%;
}

.img-demo-blog {
    display: inline-block;
    float: left;
    width: 170px;
    height: 170px;
    padding: 10px;
    border-right: 1px solid $mercury;
    background: $white;
    img {
        width: 100%;
        max-width: 100%;
    }
}

.blog-sum-warp {
    width: calc(100% - 170px);
    min-height: 100%;
    float: left;
}

.blog-sum-inner {
    width: 100%;
    padding: 10px;
    position: relative;
    padding-left: 70px;
}

.blog-data {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 110px;
    width: 40px;
    .date-time {
        width: 100%;
        height: 50%;
        color: $white;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        font-family: $font_0, $font_1;
        padding: 7px 0;
        .date {
            line-height: 16px;
        }
        .month {
            font-size: 13px;
            clear: both;
            display: block;
            width: 100%;
        }
    }
    .blog-type {
        width: 100%;
        height: 50%;
        background: $color_tundora_approx;
        position: relative;
        img {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.blog-footer {
    width: 100%;
    float: left;
    padding: 10px;
    min-height: 38px;
    background: $concrete;
    position: absolute;
    bottom: 0;
    font-size: 11px;
    border-top-width: 2px;
    border-top-style: solid;
    ul {
        list-style: none;
        li {
            display: inline-block;
            padding: 0 5px;
            position: relative;
            font-style: italic;
            &:after {
                display: block;
                width: 1px;
                position: absolute;
                content: "";
                height: 12px;
                background: $black_20;
                top: 4px;
                right: 0;
            }
        }
    }
    a {
        color: $color_tundora_approx;
    }
    li:last-child:after {
        display: none;
    }
}

.owl-blog {
    float: left;
    clear: both;
    margin-top: 30px;
}

.blog2-item {
    border: 1px solid $color_bon_jour_10_approx;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    h3 {
        font-size: 16px;
        color: $white;
        margin-top: 10px;
    }
}

.blog2-img {
    width: 90px;
    height: 90px;
    padding: 10px;
    border-right: 1px solid $color_bon_jour_10_approx;
    position: relative;
    float: left;
}

.blog2-detail {
    padding-left: 100px;
    padding-right: 10px;
}

.blog2-warp {
    clear: both;
    margin-top: 17px;
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
