.post-tag-container {
    margin:         0px;
    padding-top:    11px;
    padding-bottom: 11px;
}

.post-tag-container a {
    margin-right: 4px;
}

.blog-data .date-time .date {
    line-height: 16px;
}

.blog-data .date-time .month {
    font-size: 13px;
    clear: both;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.blog-data .date-time .year {
    font-size: 11px;
    clear: both;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
}
