$black: #000000;
$black_80: rgba(0, 0, 0, 0.8);
$black_50: rgba(0, 0, 0, 0.5);
$black_40: rgba(0, 0, 0, 0.4);
$black_30: rgba(0, 0, 0, 0.3);
$black_20: rgba(0, 0, 0, 0.2);
$black_17_5: rgba(0, 0, 0, 0.175);
$black_14: rgba(0, 0, 0, 0.14);
$black_10: rgba(0, 0, 0, 0.1);
$black_5: rgba(0, 0, 0, 0.05);
$white: #fff;
$white_50: rgba(255, 255, 255, 0.5);
$white_30: rgba(255, 255, 255, 0.3);
$white_12: rgba(255, 255, 255, 0.12);
$white_10: rgba(255, 255, 255, 0.1);
$color_log_cabin_approx: #222;
$color_log_cabin_80_approx: rgba(34, 34, 34, 0.8);
$color_log_cabin_85_approx: rgba(34, 34, 34, 0.85);
$color_log_cabin_90_approx: rgba(34, 34, 34, 0.9);
$color_rangoon_green_approx: #1d1d1d;
$color_mine_shaft_approx: #333;
$color_cape_cod_approx: #414446;
$color_bon_jour_10_approx: rgba(225, 225, 225, 0.1);
$color_masala_approx: #3a3a3a;
$color_tundora_approx: #444;
$color_fuscous_gray_approx: #555;
$color_storm_dust_approx: #666;
$color_tapa_approx: #777;
$color_mountain_mist_approx: #999;
$color_bombay_approx: #aeb3b6;
$color_silver_approx: #c1c1c1;
$color_celeste_approx: #ccc;
$color_alto_approx: #ddd;
$color_quill_gray_approx: #d4d4d4;
$color_alabaster_approx: #f9f9f9;
$color_concrete_approx: #f3f3f3;
$seashell: #f1f1f1;
$color_gallery_approx: #eee;
$color_mercury_approx: #e6e6e6;
$mercury: #e5e5e5;
$concrete: #f2f2f2;
$color_slate_gray_approx: #73848e;
$color_anzac_approx: #deb152;
$color_anzac_80_approx: rgba(222, 177, 82, 0.8);
$color_golden_grass_approx: #d49d29;
$color_cerulean_approx: #00aced;
$color_robins_egg_blue_approx: #00c0e9;
$color_amber_approx: #ffc300;
$color_amaranth_approx: #d6284b;

//fonts
$font_0: 'Oswald';
$font_1: 'sans-serif';
